h1{
text-align: center;
}
section{
    border: 2px auto solid black;
    text-align: justify;
}
th{
    background-color: black;
    color: white;
}
img{
    width:200px;
    height:200px;
    margin:10px;
    border:2px solid black;
}
input{
    background-color: blue;
}
button{
    background-color: lightgreen;
    color: green;
}
ol{
    border:2px solid black;
}
